.contatos {
  width: 100%;
  padding: 32px;
  text-align: center;
}

.contato {
  width: 44%;
  display: inline-block;
}

.feedback {
  width: 100%;
  padding: 32px;
  margin-top: 20px;
}

.feedback input,
textarea {
  width: 400px;
  outline: none;
}

.feedback h4 {
  margin-top: 15px;
}

.card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 8px;
}

.card h3 {
  font-weight: bold;
  color: #888;
}
