.card {
  width: 80%;
  height: 60%;
  border: 1px solid #888;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  margin: 10px auto;
}

.card span {
  color: #d10b85;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px auto;
}

.card button {
  width: 40%;
  height: 40px;
  color: #fff;
  background-color: #d10b85;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 200ms;
  outline: none;
}

.card button:hover {
  opacity: 0.9;
}
