.container {
  width: 100%;
  max-width: 1240px;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
